.modal {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1050;
	overflow: auto;
}

.contenedor {
	background-color: #fff;
	border-radius: 0.3rem;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
	display: flex;
	flex-direction: column;
	margin: 1rem;
	max-height: 90%;
	overflow-y: auto;
}

.title {
	font-size: 2.5rem;
	font-weight: 600;
	color: rgba(5, 0, 31, 0.793);
}

.divTitulo {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5rem 1rem;
	border-bottom: 1px solid #dee2e6;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem;
}

.modal-titulo {
	margin-bottom: 0;
	line-height: 1.5;
}

.btn-cerrar {
	padding: 0.75rem;
	background: none;
	border: none;
	font-size: 1.25rem;
	cursor: pointer;
}

.divDetalle {
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

.detalle,
.form {
	flex: 1;
	padding: 1rem;
	border-right: none;
	border-bottom: 1px solid #dee2e6;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

.detalle {
	border-right: 1px solid #dee2e6;
	border-bottom: none;
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0.75rem;
	border-top: 1px solid #dee2e6;
	border-bottom-right-radius: 0.3rem;
	border-bottom-left-radius: 0.3rem;
}

.btn {
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border-radius: 0.25rem;
	cursor: pointer;
}

.enviar {
	margin-right: 1rem;
	border: 2px solid rgba(10, 0, 69, 0.793) !important;
}

.cancelar {
	background-color: #6c757d;
}

.form-input {
	display: block;
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	color: #495057;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid #ced4da;
	border-radius: 0.25rem;
}

.inputDiv {
	margin-bottom: 1rem;
}

@media (min-width: 769px) {
	.contenedor {
		max-width: 80%;
	}

	.divDetalle {
		flex-direction: row;
	}

	.detalle {
		border-right: 1px solid #dee2e6;
		border-bottom: none;
	}

	.form {
		border-bottom: none;
	}
}

@media (min-width: 1200px) {
	.contenedor {
		max-width: 60%;
	}
}

@media (max-width: 1200px) {
	.title {
		font-size: 1.75rem;
	}
}
