.loterias {
	margin: 5rem auto;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 2rem;
}

@media screen and (max-width: 768px) {
	.loterias {
		flex-direction: column;
		align-items: center;
	}
}
