* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background: #f5f5f5;
}
a {
	text-decoration: none;
	color: inherit;
	line-height: 1;
	cursor: pointer;
}

.container {
	padding: 0 5%;
}

.title_sec {
	font-size: 4rem;
	font-weight: bold;
	color: #333;
	text-align: center;
	margin-bottom: -2rem;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.414);
}

.btn {
	color: #212121;
	padding: 1rem 1.5rem;
	font-size: 1rem;
	border-radius: 2rem;
	cursor: pointer;
	border: 1px solid black;
	transition: 0.3s ease;
	font-weight: bold;
}

.btn:hover {
	color: #dfdfdf;
	border: 1px solid rgb(153, 153, 153);
	background-color: rgba(10, 0, 69, 0.793);
}

@media (max-width: 1200px) {
	.container {
		padding-left: 5%;
		padding-right: 5%;
	}

	.btn {
		padding: 14px 22px;
	}
}
