.home {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(rgba(3, 0, 22, 0.638), rgba(3, 0, 18, 0.825)),
		url("../../assets/loteria_cba.jpg");
	background-size: cover;
	background-position: center;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem !important;
}

.home2 {
	width: 100%;
	min-height: 100vh;
	background: linear-gradient(rgba(3, 0, 22, 0.638), rgba(3, 0, 18, 0.825)),
		url("../../assets/usuarios.jpg");
	background-size: cover;
	background-position: center;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem !important;
}

.home-texto {
	text-align: center;
	max-width: 80%;
}

.title-home {
	font-size: 4rem;
	font-weight: 600;
}

.text {
	font-size: 1.2rem;
	max-width: 700px;
	margin: 1rem auto 2rem;
	line-height: 1.4;
}
