.usuarios {
	margin: 5rem auto;
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	gap: 2rem;
}

.divUsers {
	display: flex;
	justify-content: center;
}

.noUsers {
	font-size: 2rem !important;
}

.gif {
	margin-left: 1rem;
	width: 3%;
    background-color: transparent;
}

@media screen and (max-width: 768px) {
	.usuarios {
		flex-direction: column;
		align-items: center;
	}
}
