.card {
    position: relative;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    max-width: 350px;
    padding: 1rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}


.card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.card-header {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}
.icon {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.icon:hover {
    transform: scale(1.2);
}

.img,
.divImgLote {
	height: 15rem;
}

.img {
	width: 15rem;
}

.imgLote {
	width: 100%;
	height: 80%;
}

.ticket-img {
	width: 3rem;
	height: 3rem;
	margin-top: -0.4rem;
}

.cant_rifas .ticket-img {
	width: 2rem;
	height: 2rem;
}

.cant_rifas {
	font-weight: bold;
	color: #ff1900;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	border-radius: 50%;
	font-size: 1.5rem;
	width: 3.5rem;
	height: 3.5rem;
	position: absolute;
	padding-top: 0.4%;
	background-color: rgba(25, 0, 0, 0.728);
}

.nombre,
.descripcion,
.loteria_info,
.fechas {
	margin-bottom: 0.5rem;
}

.nombre {
	font-size: 1.2rem;
	font-weight: bold;
	color: #333;
}

.descripcion,
.loteria_info,
.fechas {
	font-size: 1rem;
	color: #888;
}

.valor {
	font-size: 1.5rem;
	font-weight: bold;
	color: #e74c3c;
}

.userInfo {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.userInfo img {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin-bottom: 1rem;
}

.userNombre {
	font-size: 1.2rem;
	font-weight: bold;
	color: #333;
	margin-bottom: 0.5rem;
}

.userEmail,
.userTelefono,
.userDireccion {
	font-size: 1rem;
	color: #888;
	margin-bottom: 0.5rem;
}

.compra {
	margin-top: 1rem;
	text-align: left;
}

.compraTitulo {
	font-size: 1.2rem;
	font-weight: bold;
	color: #333;
	margin-bottom: 0.5rem;
}

.compraInfo {
	display: flex;
	align-items: center;
	margin-bottom: 0.5rem;
}

.compraInfo img {
	width: 50px;
	height: 50px;
	border-radius: 4px;
	margin-right: 0.5rem;
}

.compraNombre {
	font-size: 1rem;
	font-weight: bold;
	color: #333;
}

.compraDescripcion,
.compraFechas {
	font-size: 0.9rem;
	color: #888;
}

@media screen and (max-width: 768px) {
	.card {
		width: 100%;
		max-width: none;
	}
}
