.contenedorGeneral{
    margin-top: 4.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor {
    width: 100%;
}

.enviar{
    margin:2.5% 0 0 80%;
}

@media screen and (max-width: 768px) {
	.enviar{
        width: 40%;
        margin: 10% 0 0 60%;
    }
}
