nav {
	width: 100%;
	background: rgba(15, 15, 0, 0.634);
	color: #fff;
	padding: 0.25vh 0;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 10;
}

.logoDiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 15%;
	font-size: 1.5rem;
}
.logo {
	width: 3.5rem;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	margin: 5px 20px;
	font-size: 1.1rem;
}

.menuIcon {
	display: none;
}

@media (max-width: 1000px) {
	.logo {
		width: 2.5rem;
	}
	nav ul li {
		margin: 10px 15px;
	}
}

@media (max-width: 768px) {
	nav {
		padding: 15px 0;
	}
	nav ul {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		background: rgba(15, 15, 0, 0.832);
		z-index: -1;
		width: 200px;
		padding-top: 70px;
		transition: 0.5s;
	}

	nav ul li {
		display: block;
		margin: 24px 40px;
	}
	.menuIcon {
		display: block;
		width: 2rem;
		cursor: pointer;
		filter: invert();
	}

	.hideMenu {
		right: -200px;
	}
}
